__pycache__/
*.pyc
.ipynb_checkpoints/

# Depending on your preference, you can uncomment the next line to ignore the downloaded stock data CSV files 
# so your GitHub repository stays clean. Your app can just re-download them using the sidebar button!
# data/
